.btn {
    text-decoration: none !important;
}

.btn:focus {
    outline: 0;
  text-decoration: none !important;
}
.btn:focus {
  outline: 0;
}
button > .fa-square-o {
  margin: 1.5px 1.5px;
}
button > .fa-square {
  margin: 1.5px 1px;
}
@media (min-width: 750px) {
  button > .fa-square-o {
    margin: 1.5px 1.5px;
  }
  button > .fa-square {
    margin: 1.5px 0.5px;
  }
}
@media (min-width: 970px) {
  button > .fa-square-o {
    margin: 1.5px 1.5px;
  }
  button > .fa-square {
    margin: 1.5px 0px;
  }
}
